<div class="mb-medium"></div>
<div class="container">
  <div class="row mb-large">
    <div class="col-12">
      <div class="tabs">

        <ul class="tabs__list tabs__list--splitted nav nav-tabs" id="myTab" role="tablist">

          <li class="tabs__item"><a class="tabs__link active" id="nav-profile-tab" data-toggle="tab" href="#nav-profile"
              role="tab" aria-controls="nav-profile" aria-selected="false">Profile</a></li>

          <li class="tabs__item"><a class="tabs__link " id="nav-security-tab" data-toggle="tab" href="#nav-security"
              role="tab" aria-controls="nav-security" aria-selected="true">security</a></li>

        </ul>

        <div class="tabs__content tab-content" id="nav-tabContent">
          <div class="tabs__pane active" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="row">
              <div class="col-lg-2 text-center">
                <div class="avatar avatar--xlarge inline-block">
                  <img class="avatar__img" src="assets/img/team/medhat.jpg" alt="Avatar">
                </div>

                <a class="block color-primary" href="#">Edit Avatar</a>
              </div>
              <div class="col-lg-5">
                <div class="field mb-small">
                  <label class="field__label" for="firstName">First Name</label>
                  <input class="input" type="text" id="firstName" placeholder="Mido">
                </div>

                <div class="field mb-small">
                  <label class="field__label" for="lastName">Last Name</label>
                  <input class="input" type="text" id="lastName" placeholder="Placeholder">
                </div>

                <div class="field mb-small">
                  <label class="field__label" for="bio">Bio</label>
                  <textarea class="input" id="bio">Mido is UI/UX Developer Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, molestias? Tenetur nostrum suscipit fugit excepturi saepe ipsam est corporis. Nisi sit laudantium culpa architecto laboriosam aliquam qui eum dicta officia? </textarea>
                </div>

                <div class="field mb-small">
                  <label class="field__label" for="email">E-mail Address</label>
                  <input class="input" id="email" type="email" placeholder="info@company.com">
                </div>
              </div>

              <div class="col-lg-5">
                <div class="field mb-small">
                  <label class="field__label" for="companyName">Company Name</label>
                  <input class="input" id="companyName" type="text" placeholder="Company name">
                </div>

                <div class="field mb-small">
                  <label class="field__label" for="website">Website</label>
                  <input class="input" id="website" type="text" placeholder="www.example.com">
                </div>

                <label class="field__label" for="socialProfile">Social Profiles</label>

                <div class="field has-addon-left mb-small">
                  <span class="field__addon bg-twitter">
                    <i class="fa fa-twitter color-white"></i>
                  </span>
                  <input class="input" id="socialProfile" type="text" placeholder="Placeholder">
                </div>

                <div class="field has-addon-left">
                  <span class="field__addon bg-facebook">
                    <i class="fa fa-facebook color-white"></i>
                  </span>
                  <input class="input" type="text" placeholder="Placeholder">
                </div>
              </div>
            </div>
          </div>
          <div class="tabs__pane " id="nav-security" role="tabpanel" aria-labelledby="nav-security-tab">
            <div class="row">

              <div class="col-lg-5">
                <div class="field mb-small">
                  <label class="field__label">Current Password</label>
                  <input class="input" type="password" placeholder="Current Password">
                </div>

                <div class="field mb-small">
                  <label class="field__label">New Password</label>
                  <input class="input" type="password" placeholder="Current Password">
                </div>

                <div class="field mb-small">
                  <label class="field__label">Confirm New Password</label>
                  <input class="input" type="password" placeholder="Current Password">
                </div>

              </div>


            </div>
          </div>


        </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <div class="credit-card mb-large">
        <div class="credit-card__card">
          <img class="credit-card__logo" src="assets/img/visa.png">
          <h5 class="credit-card__number">**** **** **** 3625</h5>
          <p class="credit-card__status">Valid Thru 03/20</p>
        </div>

        <div class="credit-card__user">
          <h3 class="credit-card__user-title">Your Bank Account</h3>
          <p class="credit-card__user-meta">
            <span class="text-mute">User Number:</span> 123 456
          </p>
          <p class="credit-card__user-meta">
            <span class="text-mute">User ID:</span> SN123456789
          </p>
        </div>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="card p-medium mb-medium">

        <div class="display--flex justify-between align-items-center mb-small">
          <h4 class="h5 mb-zero text-bold">How to do anything?</h4>
          <a class="text-small" href="#">Visit FAQ Page</a>
        </div>

        <ul>
          <li class="mb-xsmall">
            <a class="text-small text-dark" href="#">How can do this task?</a>
          </li>

          <li class="mb-xsmall">
            <a class="text-small text-dark" href="#">Why my account doesn't work?</a>
          </li>
          <li>
            <a class="text-small text-dark" href="#">When Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Similique mollitia consequuntur est atque? </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>